<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (menuButton) {
      <ion-menu-button></ion-menu-button>
      } @if (backButton) {
      <ion-back-button [defaultHref]="backButton"></ion-back-button>
      }
    </ion-buttons>

    <ion-title [ngClass]="{ needpadding }">
      <strong>{{ title }}</strong>
    </ion-title>

    <ion-img
      slot="end"
      src="assets/images/logos/logo_punt_volat_blanc.webp"
      alt="Logo punt volat"
      class="logo_punt_volat"
    ></ion-img>
  </ion-toolbar>
</ion-header>
