section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 3rem;

  article {
    width: 100%;

    h3 {
      margin: 0;
    }
  }
}

.flexdiv,
.flexdiv > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexdiv {
  max-width: 100%;

  & > div {
    flex-direction: column;
    flex: 1;
    max-width: 33%;

    ion-label {
      max-width: 100%;
    }

    .custom-avatar {
      width: 80px;
      height: 80px;

      & span {
        font-size: 2.5rem;
      }
    }

    @media (width < 350px) {
      .custom-avatar {
        width: 50px;
        height: 50px;

        & span {
          font-size: 1.5rem;
        }
      }
    }

    h2 {
      padding-bottom: 0.1rem;
      overflow: hidden !important; /* Oculta el contenido que excede el ancho */
      white-space: nowrap !important; /* Evita que el texto se divida en múltiples líneas */
      text-overflow: ellipsis !important; /* Agrega los puntos suspensivos */
      max-width: 100% !important; /* Asegura que el span no exceda el ancho del contenedor */
    }

    h3 span {
      font-size: smaller;
      opacity: 0.8;
      margin: 0 0.5rem;
    }
  }
}

.question-card {
  padding-top: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--bg-question);

  header {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    .divcategoria {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      span {
        font-size: 0.8rem;
      }

      img {
        width: 2rem;
      }
    }
  }
}

.correct-answer {
  --background: #28a745 !important;
  --color: white !important;
}

.incorrect-answer {
  --background: #dc3545 !important;
  --color: white !important;
}

.logofondo {
  position: fixed;
  width: 100%;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.1;
  filter: blur(5px);
}
