<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Tus Amigos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let friend of friends">
      <ion-label>{{ friend.displayName }}</ion-label>
      <ion-button (click)="removeFriend(friend.id)" fill="clear" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Solicitudes de Amistad Pendientes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let request of pendingRequests">
      <ion-label>{{ request.displayName }}</ion-label>
      <ion-button
        (click)="acceptFriendRequest(request.id)"
        fill="clear"
        color="success"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="rejectFriendRequest(request.id)"
        fill="clear"
        color="danger"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
