<app-header title="Partides" [menuButton]="true"></app-header>
<ion-content class="ion-padding">
  @if (loading) {
  <ion-spinner></ion-spinner>

  } @else if (currentUser) {

  <!-- (click)="startNewGame()" -->
  <div class="button-container">
    <ion-button class="start-game-button" expand="block">
      Crear Partida!
    </ion-button>
  </div>

  @if (!gamesTurnOfUser.length && !gamesTurnOfRival.length) {
  <ion-text>
    <p>No hi ha partides</p>
  </ion-text>
  } @else {
  <h4>El teu torn ({{gamesTurnOfUser.length}})</h4>
  @if (!gamesTurnOfUser.length) {
  <ion-text>
    <p>Has d'esperar a que responguen els rivals</p>
  </ion-text>

  } @else {
  <div class="gamesTurnOfUser">
    @for (game of gamesTurnOfUser; track game.id) {
    <app-game-card
      [currentUser]="currentUser"
      [game]="game"
      [myTurn]="true"
      [isSmallScreen]="isSmallScreen"
    ></app-game-card>
    }
  </div>
  }

  <h4>Torn del oponent ({{gamesTurnOfRival.length}})</h4>
  @if (!gamesTurnOfRival.length) {
  <ion-text>
    <p>No hi ha partides</p>
  </ion-text>
  } @else {
  <div class="gamesTurnOfRival">
    @for (game of gamesTurnOfRival; track game.id) {
    <app-game-card
      [currentUser]="currentUser"
      [game]="game"
      [myTurn]="false"
      [isSmallScreen]="isSmallScreen"
    ></app-game-card>
    }
  </div>
  } } }
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
