<ion-menu contentId="main-content" swipeGesture="true" maxEdgeStart="10">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon aria-hidden="true" name="close-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h2>hola</h2>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button shape="round" color="dark" fill="clear" size="large">
            <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <h1>PREGUNTADOS RAVAL!</h1>
    </div>
  </ion-content>
</div>
