<app-login-layout pageTitle="Iniciar sessió">
  <app-logo class="ion-margin-bottom"></app-logo>

  <form [formGroup]="formAuth" (ngSubmit)="login()">
    <div>
      <ion-input
        type="email"
        formControlName="email"
        label="Correu electrònic"
        label-placement="floating"
        autocomplete="email"
        fill="outline"
        required
      ></ion-input>
      @if (formAuth.get('email')?.touched && formAuth.get('email')?.invalid) {
      <ion-text>
        @if (formAuth.get('email')?.errors?.['required']) {
        <p class="error ion-margin-bottom">El correu és obligatori</p>
        } @if (formAuth.get('email')?.errors?.['email']) {
        <p class="error ion-margin-bottom">
          El correu no té un format correcte
        </p>
        }
      </ion-text>
      }
    </div>

    <div>
      <ion-input
        type="password"
        formControlName="password"
        label="Contrasenya"
        label-placement="floating"
        autocomplete="password"
        fill="outline"
        clearOnEdit="false"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        @if (formAuth.get('password')?.touched &&
        formAuth.get('password')?.invalid) {
        <ion-text>
          @if (formAuth.get('password')?.errors?.['required']) {
          <p class="error ion-margin-bottom">La contrasenya és obligatoria</p>
          } @if (formAuth.get('password')?.errors?.['pattern']) {
          <p class="error ion-margin-bottom">
            La contrasenya ha de tindre minúscules, majúscules, nombres i un
            mínim de 6 caràcters
          </p>
          }
        </ion-text>
        }
      </ion-input>
    </div>

    <div>
      <ion-button expand="block" type="submit" [disabled]="formAuth.invalid">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Iniciar sessió
      </ion-button>
      <ion-button color="secondary" expand="block" routerLink="sign_up">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Registrar-te
      </ion-button>
      <ion-button color="medium" expand="block" [routerLink]="'/about'">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        Què és sabuts
      </ion-button>
      <ion-text class="ion-text-center ion-padding-top">
        <p class="small">
          Has oblidat la teua contrasenya?
          <a routerLink="forgot_password">Recupera-la</a>
        </p>
      </ion-text>
      <ion-text class="ion-text-center ion-padding-top">
        <p class="small">
          Has de verificar el correu? <br />
          <span (click)="sendVerification()"> Reenvia verificació </span>
        </p>
      </ion-text>
    </div>
  </form>
  <ion-loading [isOpen]="openLoading"></ion-loading>
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="messageToast"
    [color]="colorToast"
    [icon]="iconToast"
    [duration]="5000"
    [position]="'bottom'"
    [animated]="true"
    [swipeGesture]="'vertical'"
    [buttons]="[
          {
            icon: 'close',
            role: 'cancel',
          },
        ]"
    (didDismiss)="isToastOpen = false"
  ></ion-toast>
</app-login-layout>
