<app-login-layout pageTitle="Iniciar sessió">
  <app-logo class="ion-margin-bottom"></app-logo>

  <form [formGroup]="formAuth" (ngSubmit)="login()">
    <div>
      <ion-input
        type="email"
        formControlName="email"
        label="Correu electrònic"
        label-placement="floating"
        fill="outline"
        required
      ></ion-input>
      @if (formAuth.get('email')?.touched && formAuth.get('email')?.invalid) {
      <ion-text>
        @if (formAuth.get('email')?.errors?.['required']) {
        <p class="error ion-margin-bottom">El correu és obligatori</p>
        } @if (formAuth.get('email')?.errors?.['email']) {
        <p class="error ion-margin-bottom">
          El correu no té un format correcte
        </p>
        }
      </ion-text>
      }
    </div>

    <div>
      <ion-input
        type="password"
        formControlName="password"
        label="Contrasenya"
        label-placement="floating"
        fill="outline"
        clearOnEdit="false"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        @if (formAuth.get('password')?.touched &&
        formAuth.get('password')?.invalid) {
        <ion-text>
          @if (formAuth.get('password')?.errors?.['required']) {
          <p class="error ion-margin-bottom">La contrasenya és obligatoria</p>
          } @if (formAuth.get('password')?.errors?.['pattern']) {
          <p class="error ion-margin-bottom">
            La contrasenya ha de tindre minúscules, majúscules, nombres i un
            mínim de 6 caràcters
          </p>
          }
        </ion-text>
        }
      </ion-input>
    </div>

    <div>
      <ion-button expand="block" type="submit" [disabled]="formAuth.invalid">
        Iniciar sessió
      </ion-button>
      <ion-button color="secondary" expand="block" routerLink="sign_up">
        Registrar-te
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-text-center ion-padding-top">
        <p class="small">
          Has oblidat la teua contrasenya?
          <a routerLink="forgot_password">Recupéra-la</a>
        </p>
      </ion-text>
    </div>
  </form>
</app-login-layout>
