<app-login-layout pageTitle="Recuperar contrasenya" backButton="/auth">
  <form [formGroup]="formAuth" (ngSubmit)="submit()">
    <app-logo></app-logo>

    <p class="ion-text-center">
      T'enviarem un email perquè puguis restablir la teva contrasenya
    </p>

    <app-custom-input
      icon="mail-outline"
      type="email"
      label="Correu electrònic"
      [placeholder]="'exemple@gmail.com'"
      autocomplete="username"
      [control]="formAuth.controls.email"
    ></app-custom-input>

    @if (formAuth.controls.email.errors && formAuth.controls.email.touched) {
    @if (formAuth.controls.email.errors['required']) {
    <p class="error">El correu és obligatori</p>
    } @else if (formAuth.controls.email.errors['email']) {
    <p class="error">El correu no té un format correcte</p>
    } }

    <ion-button expand="block" type="submit" [disabled]="formAuth.invalid">
      Recuperar
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </form>
</app-login-layout>
