<app-login-layout pageTitle="Recuperar contrasenya" backButton="/auth">
  <app-logo class="ion-margin-bottom"></app-logo>

  <p class="ion-text-center">
    T'enviarem un email perquè puguis restablir la teva contrasenya
  </p>

  <form [formGroup]="formAuth" (ngSubmit)="submit()">
    <div>
      <ion-input
        type="email"
        formControlName="email"
        label="Correu electrònic"
        label-placement="floating"
        fill="outline"
        required
      ></ion-input>
      @if (formAuth.get('email')?.touched && formAuth.get('email')?.invalid) {
      <ion-text>
        @if (formAuth.get('email')?.errors?.['required']) {
        <p class="error ion-margin-bottom">El correu és obligatori</p>
        } @if (formAuth.get('email')?.errors?.['email']) {
        <p class="error ion-margin-bottom">
          El correu no té un format correcte
        </p>
        }
      </ion-text>
      }
    </div>

    <div>
      <ion-button expand="block" type="submit" [disabled]="formAuth.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </form>
</app-login-layout>
