h5,
p {
  margin: 0;
}

h5 {
  margin-bottom: 5px;
  overflow: hidden; /* Ocultar el contenido que desborda */
  white-space: nowrap; /* No permitir saltos de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) */
  max-width: calc(100dvw - 115px); /* Ajusta este valor según sea necesario */
}

.flexdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  &.between {
    position: relative;

    ion-fab-button {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2px;
      right: 0;
    }
  }
}

ion-list {
  max-height: calc(100dvh - 250px);
  overflow-y: auto;
}
